.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 15px;
  }
  
  .grid-cell {
    height: 200px;
    border-radius: 3px;
    background: #acaaaa;
  }
  .text {
    font-size: 50px;
    color: #f9f6f2;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
  }